.bg-gold {
    background: rgb(218, 170, 106);
    background: linear-gradient(
        90deg,
        rgba(218, 170, 106, 1) 50%,
        rgba(157, 113, 57, 1) 100%
    );
}

.product-img {
    width: 40%;
    height: auto;
    border-radius: 25px;
    overflow: hidden;
}

.product-title {
    width: 60%;
}
